/*font-family: 'Roboto', sans-serif;
font-family: 'Source Sans Pro', sans-serif;
font-family: 'Play', sans-serif;
font-family: 'Arsenal', sans-serif;
font-family: 'Varela', sans-serif;*/


html, body {
	height: 100vh;
	font-family: 'Source Sans Pro', sans-serif;
}

a:link, a:visited {
	text-decoration: none;
	color: white;
}


.about-container, 
.project-container,
.contact-container {
	width: 100%;
	height: 100%;
}

.visuallyhidden { 
	border: 0; 
	clip: rect(0 0 0 0); 
	height: 1px; 
	margin: -1px; 
	overflow: hidden; 
	padding: 0; 
	position: absolute; 
	width: 1px; 
}



/**********
Header
**********/
header {
	position: relative;
	height: 8%;
}


.edgar-icon {
	position: absolute;
	bottom: 0;
	left: 10%;
	height: 100%;
	border-left: 1px solid black;
    border-right: 1px solid black;
}

.icon-img {
	padding: 2vh 12px;
}
	

main {
	position: relative;
	height: 85%;
	width: 90%;
	margin: 0 auto;
	overflow: hidden;
}

.contact-email {
	position: absolute;
	bottom: 4px;
	right: 13%;
}

.contact-linkedin {
	position: absolute;
	bottom: 5px;
	right: 10%;
}

.contact-github {
	position: absolute;
    bottom: 4px;
    right: 7%;
}

.h-resume {
	position: absolute;
    bottom: 4px;
    right: 16%;
    height: 30px;
    width: 30px;
}

.h-mail {
	position: absolute;
    bottom: 4px;
    right: 13%;
    height: 30px;
    width: 30px;
}

.h-linkedin {
    position: absolute;
    bottom: 4px;
    right: 10%;
    height: 30px;
    width: 30px;
}

.h-github {
    position: absolute;
    bottom: 4px;
    right: 7%;
    height: 30px;
    width: 30px;
}

/**********
Nav
**********/

.nav-hover {
    position: absolute;
    right: 0px;
    top: 0;
    width: 250px;
    height: 100%;
    overflow: hidden;
    z-index: 10;
}

.nav-margin {
	background-color: rgba(0,0,0,0.2);
	width: 250px;
}


.nav-container {
	background-color: rgba(0, 0, 0, 0.4);
	width: 250px;
	position: absolute;
	right: -218px;
	top: 0;
	bottom: 0;
	color: white;
}

.aside-nav {
	position: absolute;
	background-color: black;
	right: 0px;
	top: 0;
	bottom: 0;
	width: 218px;
	z-index: 2;
}


@keyframes nav-slide {
    0%	{right: -218;}
    50% {right: -70;}
    75%	{right: -58;}
    85% {right: -29;}
    95% {right: -12;} 
    100% {right: 0;}
}

.img-side {
	width: 33px
}

.nav-list {
	margin-top: 100%;
	position: absolute;
	left: -32px;
	width: 100%;
	font-family: 'Arsenal', sans-serif;
}

#about:hover,
#projects:hover,
#contacts:hover {
	background-position: right bottom;
	color: rgb(7,36,159);
}

.nav-list > li {
	margin: 30px 0;
	padding: 5px;
	font-size: 20px;
	background: linear-gradient(to left, black 50%, transparent 50%);
    background-size: 200% 100%;
    background-position: left bottom;
    transition:all .2s ease;
}

.nav-list > li:hover {
	color: rgb(7,36,159);
}

.nav-list > .side-icon {
	font-size: 30px;
	margin-left: 33px;
	color: #0000ff;
	width: 44px;
	background-color: white;
}



/**********
About Me page
**********/
.hidden {
	display: none;
}

.about-container {
	background: url(../images/second.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-color: rgba(255, 255, 255, 0.5);
	background-position: right 0px bottom 0px;
}

.filter {
	background-color: rgba(166, 166, 166, 0.1);
    z-index: 2;
    width: 100%;
    height: 100%;
    box-shadow: inset 0px 0px 6px rgba(0,0,0,0.2)
}

.about-par,
.about-quote {
	line-height: 2em;
	margin-bottom: 30px;
}

.about-quote span {
	display: block;
    font-style: italic;
}

.description {
    position: absolute;
    left: 6%;
    top: 20%;
    width: 30%;
    opacity: 0;
    transform: translate(530px, 0px);
    transition: 1s transform;
}

.description:hover {
	transform: none;
}

.desc-header {
	margin: 10px 0;
	font-size: xx-large;
}

.about-img {
	position: absolute;
	right: 10%;
	top: 30%;

}

/**********
Projects page
**********/

.project-container {
	background: url(../images/wood2.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-color: red;
	background-color: rgba(255, 102, 255, 0.5)
}

div.project-list {
	width: 70%;
	height: 100%;
	margin: 0 15%;
	padding-top: 15vw;
	text-align: center;
	vertical-align: top;
}

.position {
	position: relative;
}

.project-wrapper {
	display: inline-block;
	height: 200px;
	color: rgb(0,0,0);
	padding: 0 2%;
	font-weight: bolder;
}

.projects {
	margin-bottom: 25px;
}

.desc-header,
.projects,
.contact-header{
	color: rgb(7,36,159);
}

.black {
	color: rgb(0,0,0)
}

.img-proj {
	width: 140px;
}


.img-timer {
	width: 140px;
}

.img-log {
	width: 140px;
}

.project-label {
	color: white;
}

.proj-desc {
	line-height: 24px;
    height: 195px;
    padding: 14px;
    font-size: 0.7vw;
}

.p-scrum {
	padding-top: 27px;
}

.p-beer {
	padding-top: 33px;
}

.p-log {
	padding-top: 27px;
}

.p-roles {
	font-style: italic;
}

strong {
	color: rgb(7,36,159);
}

#overlay {
	background:rgba(0,0,0,0.7);
	width:100%;
	height:100%;
	position:absolute;
	top:0;
	left:0;
	display:none;
	text-align:center;
	z-index: 10;
}

#overlay img {
	margin-top: 10%; 
}

#overlay p {
	color:white; 
}

/* end - overlay*/

/*flip card*/

.back {
	width: 84%;
	margin: 0 auto;
}

.front {
	width: 84%;
	margin: 0 auto;
}

.flip3D {
	height: 100%;
}

.flip3D > .front {
	position: absolute;
	transform: perspective( 600 px ) rotateY( 0deg );
	backface-visibility: hidden;
	transition: transform .5s linear 0s;
}

.flip3D > .back {
	position: absolute;
	transform: perspective( 600px ) rotateY( 180deg );
	backface-visibility: hidden;
	transition: transform .5s linear 0s;
	background-color: rgba(255,255,255, 0.3)
}

.flip3D:hover > .front {
	transform: perspective( 600px ) rotateY( -180deg );
	cursor: pointer;
}

.flip3D:hover > .back {
	transform: perspective( 600px ) rotateY( 0deg );
	cursor: pointer;
}

/*end - flip*/

.pro {
	display: inline-block;
	width: 45px;
	height: 30px;
}

.proj-btn {
	display: inline-block;
	margin: 0 auto;
	border: 1px solid black;
	border-radius: 5px;
	height: 32px;
}

.btn-gh {
	border-right: 1px solid black;
	background-image: url(../images/github2.png);
	background-repeat: no-repeat;
	background-position: center;
}

/*.btn-info {
	background-image: url(../images/info2.png);
	background-repeat: no-repeat;
	background-position: center;
}*/

.btn-gif {
	border-right: 1px solid black;
	background-image: url(../images/view2.png);
	background-repeat: no-repeat;
	background-position: center;
}

.btn-web {
	background-image: url(../images/web2.png);
	background-repeat: no-repeat;
	background-position: center;
}

/**********
Contact page
**********/

.contact-container{
    background: url(../images/chisky.png);
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-color: white;
    background-position: bottom;

}


.contact-filter {
    z-index: 2;
    width: 100%;
    height: 100%;
    box-shadow: inset 0px 0px 6px rgba(0,0,0,0.2);
    background: -webkit-linear-gradient(rgba(255,255,255,1),rgba(255,256,255,1),rgba(255,255,255,1), rgba(255,255,255,0.9),rgba(255,255,255,0.8),rgba(255,255,255,0.5),rgba(255,255,255,0.1), transparent);
    background: -o-linear-gradient(rgba(255,255,255,1),rgba(255,256,255,1),rgba(255,255,255,1), rgba(255,255,255,0.9),rgba(255,255,255,0.8),rgba(255,255,255,0.5),rgba(255,255,255,0.1), transparent);
    background: -moz-linear-gradient(rgba(255,255,255,1),rgba(255,256,255,1),rgba(255,255,255,1), rgba(255,255,255,0.9),rgba(255,255,255,0.8),rgba(255,255,255,0.5),rgba(255,255,255,0.1), transparent);
    background: linear-gradient(rgba(255,255,255,1),rgba(255,256,255,1),rgba(255,255,255,1), rgba(255,255,255,0.9),rgba(255,255,255,0.8),rgba(255,255,255,0.5),rgba(255,255,255,0.1), transparent);
}

.contacts {
    text-align: center;
    position: absolute;
    top: 20%;
    width: 100%;
    z-index: 2;
}

.contact-header {
	margin-bottom: 60px;
	font-size: 3rem;
}

.contact-type {
	display: inline-block;
	width: 100px;
	color: rgb(7, 36, 159);
	margin: 0 44px;
}

.contact-img {
    padding: 20px;
    width: 85px;
}

.contact-desc {
	border-top: 1px solid rgb(7,36,159);
}

.cont {
	margin: 10px;
}

.email {
	margin-left: -44px; /*needed to center the email that overflows the div*/
}


@media only screen and (max-width: 1100px) {
	
	/*header*/
	.contact-email {
		right: 16%;
	}

	.contact-linkedin {
		right: 11.5%;
	}

	/*Nav */
	.menu-btn {
    display: inline-block;
    position: absolute;
    height: 60px;
    width: 60px;
    right: 12px;
    top: 12px;
    background-color: rgba(255,255,255,0.2);
    background-image: url(../images/menu.png);
    background-repeat: no-repeat;
    background-position: center;
	}


	.h-resume {
		right: 23%;
	}

	.h-mail {
		right: 17%;
	}

	.h-linkedin {
		right: 12%;
	}

	.img-proj {
		width: 109px;
	}


	.img-timer {
		width: 109px;
	}

	.img-log {
		width: 109px;
	}

	.nav-hover {
		width: 145px;
	}

	.nav-container {
		width: 149px;
	}

	.aside-nav {
		width: 116px;
	}

	.nav-list > li {
		font-size: unset;
		padding: 5px 8px;
	}

	/*About Page*/
	.description {
		top: 10%;
		opacity: 1;
		transform: unset;
	}

	.about-quote {
		line-height: 1.4em;
	}


	/*Projects Page*/
	.pro {
		width: 40px;
	}

	.proj-desc {
		margin-top: 0;
		line-height: 17px;
		font-size: 9px;
	}

	div.project-list {
		padding-top: 16vw;
	}

	.img-proj {
		padding-top: 30px;
	}

	/*Contacts Page*/
	.contact-filter {
	    z-index: 2;
	    width: 100%;
	    height: 100%;
	    background: -webkit-linear-gradient(rgba(255,255,255,1),rgba(255,256,255,1),rgba(255,255,255,1), rgba(255,255,255,1),rgba(255,255,255,1),rgba(255,255,255,0.6),rgba(255,255,255,0.2), transparent);
	    background: -o-linear-gradient(rgba(255,255,255,1),rgba(255,256,255,1),rgba(255,255,255,1), rgba(255,255,255,1),rgba(255,255,255,1),rgba(255,255,255,0.6),rgba(255,255,255,0.2), transparent);
	    background: -moz-linear-gradient(rgba(255,255,255,1),rgba(255,256,255,1),rgba(255,255,255,1), rgba(255,255,255,1),rgba(255,255,255,1),rgba(255,255,255,0.6),rgba(255,255,255,0.2), transparent);
	    background: linear-gradient(rgba(255,255,255,1),rgba(255,256,255,1),rgba(255,255,255,1), rgba(255,255,255,1),rgba(255,255,255,1),rgba(255,255,255,0.6),rgba(255,255,255,0.2), transparent);
	}

	.p-scrum {
		padding-top: 21px;
	}

	.p-beer {
		padding-top: 30px;
	}

	.p-log {
		padding-top: 25px;
	}



}


@media only screen and (max-width: 1000px) {

	.menu-btn {
		display: none;
	}
	
	header {
		display: none;
	}

	main {
		height: 100%;
		width: 100%
	}

	.nav-hover {
	    position: fixed;
	    top: 10px;
	    right: 10px;
	    width: 50px;
	    height: 50px;
	    background-color: rgba(255,255,255, 0.5);
	    background-image: url(../images/menu.png);
	    background-repeat: no-repeat;
	    background-position: center;
	    float: unset;
	}



	.nav-container {
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		width: 100%;
	    transition: unset;
	}

	.aside-nav {
		width: 100%;
		overflow: scroll;
	}

	.nav-list {
		text-align: center;
		margin-top: 35%;
		left: 30px;
		right: 30px;
		width: unset;
	}

	.nav-list > li {
		font-size: 25px;
	    margin: 0;
	    padding: 25px 0;
	    border-bottom: 1px solid white;
	}

	.img-side {
		display: none;
	}

	.nav-list > .side-icon {
		width: 150px;
		height: 150px;
		margin: auto;
		margin-bottom: 55px;
		border-radius: 100%;
		border: 2px double gray;
		background-image: url(../images/mobile-edgar.png);
		background-repeat: no-repeat;
		background-position: center;
		background-size: 80%;
	}

	/*About Page*/

	.about-container {
		background-image: url(../images/mobile-back.png);
		background-repeat: no-repeat;
		background-size: cover;
		overflow: scroll;
	}

	.about-desc {
		position: absolute;
	    left: 0;
	    top: 15%;
	    right: 0;
	    bottom: 0;
	    transform: none;
	    width: unset;
	    opacity: 1;
	    font-size: 20px;
	    text-align: center;
	    width: 85%;
	    margin: 0 auto;
	    overflow: scroll;
	}

	::-webkit-scrollbar { 
	    display: none; 
	}

	.desc-header {
		font-size: 43px;
    	margin-bottom: 10px;
	}

	.about-par {
		/*line-height: 1.2;*/
		line-height: 2.2;
    	font-weight: bold;
	}

	.img-me {
		display: block;
		margin: 15px auto;
		border-radius: 100%;
		width: 160px;
	}


	/*Projects Page*/
	.back,
	.front {
		margin: 0 6%;
	}

	.proj-header {
		display: block;
		height: 55%;
		margin-bottom: 20px;
	}

	.project-container {
		overflow: scroll;
	}

	.projects {
		margin-top: 30vh;
		font-size: 60px;
	}

	.proj-btn {
		height: 50px;
	    margin: 65px auto;
	}

	.arrow-down {
		position: absolute;
    	bottom: 0;
	}

	.project-wrapper {
		margin-top: 20px;
	    margin-bottom: 215px;
	    height: 180px;
	}

	.proj-desc {
		font-size: 20px;
		line-height: 1.5;
	}

	.pro {
	    background-size: 33px;
	    height: 48px;
	    width: 65px;
	}

	#overlay img {
	    margin-top: 25%;
	    min-width: 80%;
	}

	.flip3D > .back {
		background-color: transparent;
		color: rgb(7,36,159);
	}

	.img-proj {
		width: 165px;
	}

	.img-log {
		width: 165px;
	}


	/* arrow bouncing */
	.arrow {
	    position: fixed;
	    bottom: 0;
	    left: 36vw;
	}

	.bounce {
		-webkit-animation-name: bounce;
		-moz-animation-name: bounce;
		-o-animation-name: bounce;
		animation-name: bounce;
	}
	.animated{
		-webkit-animation-fill-mode:both;
		-moz-animation-fill-mode:both;
		-ms-animation-fill-mode:both;
		-o-animation-fill-mode:both;

	    animation-iteration-count: infinite;
	    -moz-animation-iteration-count: infinite;
	    -webkit-animation-iteration-count: infinite;

		animation-fill-mode:both;
		-webkit-animation-duration:2s;
		-moz-animation-duration:2s;
		-ms-animation-duration:2s;
		-o-animation-duration:2s;
		animation-duration:2s;
	}


	@-webkit-keyframes bounce {
		0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);}	40% {-webkit-transform: translateY(-30px);}
		60% {-webkit-transform: translateY(-15px);}
	}

	@-moz-keyframes bounce {
		0%, 20%, 50%, 80%, 100% {-moz-transform: translateY(0);}
		40% {-moz-transform: translateY(-30px);}
		60% {-moz-transform: translateY(-15px);}
	}

	@-o-keyframes bounce {
		0%, 20%, 50%, 80%, 100% {-o-transform: translateY(0);}
		40% {-o-transform: translateY(-30px);}
		60% {-o-transform: translateY(-15px);}
	}
	@keyframes bounce {
		0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
		40% {transform: translateY(-30px);}
		60% {transform: translateY(-15px);}
	}

	/* end - bouncing arrow*/

	/*Contact Page*/

	.arrowing {
		height: 100px;
	}

	.contact-container {
		overflow: scroll;
	}

	.contact-filter {
		background: -webkit-linear-gradient(rgba(255,255,255,1),rgba(255,256,255,1),rgba(255,255,255,1), rgba(255,255,255,1),rgba(255,255,255,1),rgba(255,255,255,1.0),rgba(255,255,255,0.9), transparent);
	    background: -o-linear-gradient(rgba(255,255,255,1),rgba(255,256,255,1),rgba(255,255,255,1), rgba(255,255,255,1),rgba(255,255,255,1),rgba(255,255,255,1.0),rgba(255,255,255,0.9), transparent);
	    background: -moz-linear-gradient(rgba(255,255,255,1),rgba(255,256,255,1),rgba(255,255,255,1), rgba(255,255,255,1),rgba(255,255,255,1),rgba(255,255,255,1.0),rgba(255,255,255,0.9), transparent);
	    background: linear-gradient(rgba(255,255,255,1),rgba(255,256,255,1),rgba(255,255,255,1), rgba(255,255,255,1),rgba(255,255,255,1),rgba(255,255,255,1.0),rgba(255,255,255,0.9), transparent);
	
	}

	.contact-header {
		font-size: 40px;
		margin-bottom: 20px;
	}

	.contact-desc {
		border-top: none;
	}

	.contacts {
		top: 13%;
		overflow: scroll;
    	height: 100%;
	}

	.contact-type {
		width: 75%;
		/*margin: 75px 0;*/
	}

	.email {
		margin-left: unset;
	}

	.contact-img {
	    width: 40px;
	    margin-top: 46px;
	    padding: 0;
	}

	.cont {
		font-size: 20px;
	}
}


@media only screen and (max-width: 700px) {
	.about-par {
		line-height: 1.7;
    	font-size: 15px;
	}

	.about-desc {
		top: 5%;
	}

}